# **Activity 2: Python-Pandas Exercise**

Objectives:
- Understand Python syntax (variables, loops, functions).
- Learn Pandas basics (Series, DataFrames, reading files).
- Perform data cleaning (handling missing values, correcting formats, removing duplicates).
- Apply concepts in a real-world case study.

# Part 1: Hands-on Python & Pandas Basics

1. Install the Pandas library in your environment.

In [2]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/ivanjamesa.lo/Library/Python/3.9/lib/python/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in /Users/ivanjamesa.lo/Library/Python/3.9/lib/python/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/ivanjamesa.lo/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/ivanjamesa.lo/Library/Python/3.9/lib/python/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/ivanjamesa.lo/Library/Python/3.9/lib/python/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

2. Import the  pandas package under the name `pd`

In [3]:
import pandas as pd

3. Print the pandas version

In [4]:
print(pd.__version__)

2.2.3

4. Create a variable `x` with the value 10 and a string variable `y` with "Fortes in Fide!"

In [5]:
data = {"x": [10], "y":["Fortes in Fide!"]}

df = pd.DataFrame(data)
print(df)

    x                y
0  10  Fortes in Fide!

5. Define a list with numbers `[1, 2, 3, 4, 5]` and a dictionary with keys `name` and `age`

In [6]:
num_list = [1, 2, 3, 4, 5]

data = {"name": ["Ivan", "Mary Vee", "Erika"], "age": [22, 21, 21]}

df = pd.DataFrame(data)
print(num_list)
print(df)

[1, 2, 3, 4, 5]
       name  age
0      Ivan   22
1  Mary Vee   21
2     Erika   21

6. Write a function `greet(name)` that returns "Magis, (name)"!

In [7]:
def greet(name):
    print("Magis, ", name)

greet("Mary Vee")

Magis,  Mary Vee

7. Write a Python function that takes a user‚Äôs name as input and prints a personalized greeting.

In [8]:
name = input("What is your name? ").strip()

def greet2(name):
    return f"{name}, Praise be Jesus and Mary!"

print(greet2(name))

Erika, Praise be Jesus and Mary!

8. Modify **Number 7** that if the user does not enter a name, it defaults to "Guest".

In [9]:
name = input("Input Name").strip()

def greet2(name):
    if len(name) != 0 :
        return f"{name}, Praise be Jesus and Mary!"
    else:
        return f"Guest, Praise be Jesus and Mary!"

print(greet2(name))

Guest, Praise be Jesus and Mary!

9. Create a Pandas Series from `[10, 20, 30, 40]`.

In [10]:
series = [10, 20, 30, 40]

mySeries = pd.Series(series)

print(mySeries)

0    10
1    20
2    30
3    40
dtype: int64

10.  Create a DataFrame with columns `A` and `B`.

In [11]:
data = {
    "A" : [10,20,30],
    "B" : [5,6,7]
}

df = pd.DataFrame(data)

print(df)

    A  B
0  10  5
1  20  6
2  30  7

# Part 2: Working with a Dataset üõ•Ô∏è

1. Load the Titanic dataset from a local file and display the first five rows.

In [12]:
tit = pd.read_csv('titanic_dataset.csv')

print(tit.head(5))

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S

2. Display the dataset's column names, data types.

In [13]:
print(tit.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB
None

3. Display the dataset's missing values.

In [14]:
print(tit.isna().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

4. Display the `Name`, `Age`, and `Fare` columns from the dataset. (first 10)

In [15]:
print(tit[['Name', 'Age', 'Fare']].head(10))

                                           Name   Age     Fare
0                              Kelly, Mr. James  34.5   7.8292
1              Wilkes, Mrs. James (Ellen Needs)  47.0   7.0000
2                     Myles, Mr. Thomas Francis  62.0   9.6875
3                              Wirz, Mr. Albert  27.0   8.6625
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  22.0  12.2875
5                    Svensson, Mr. Johan Cervin  14.0   9.2250
6                          Connolly, Miss. Kate  30.0   7.6292
7                  Caldwell, Mr. Albert Francis  26.0  29.0000
8     Abrahim, Mrs. Joseph (Sophie Halaut Easu)  18.0   7.2292
9                       Davies, Mr. John Samuel  21.0  24.1500

 5. Print the descriptive statistics of the Titanic dataset.

In [16]:
df = pd.DataFrame(tit)

print(df.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   418.000000  418.000000  418.000000  332.000000  418.000000
mean   1100.500000    0.363636    2.265550   30.272590    0.447368
std     120.810458    0.481622    0.841838   14.181209    0.896760
min     892.000000    0.000000    1.000000    0.170000    0.000000
25%     996.250000    0.000000    1.000000   21.000000    0.000000
50%    1100.500000    0.000000    3.000000   27.000000    0.000000
75%    1204.750000    1.000000    3.000000   39.000000    1.000000
max    1309.000000    1.000000    3.000000   76.000000    8.000000

            Parch        Fare
count  418.000000  417.000000
mean     0.392344   35.627188
std      0.981429   55.907576
min      0.000000    0.000000
25%      0.000000    7.895800
50%      0.000000   14.454200
75%      0.000000   31.500000
max      9.000000  512.329200

6. Remove rows with missing values in the `Age` column.

In [17]:
missing_age = df.dropna(subset=['Age'])

print(missing_age.to_string())

     PassengerId  Survived  Pclass                                                             Name     Sex    Age  SibSp  Parch              Ticket      Fare            Cabin Embarked
0            892         0       3                                                 Kelly, Mr. James    male  34.50      0      0              330911    7.8292              NaN        Q
1            893         1       3                                 Wilkes, Mrs. James (Ellen Needs)  female  47.00      1      0              363272    7.0000              NaN        S
2            894         0       2                                        Myles, Mr. Thomas Francis    male  62.00      0      0              240276    9.6875              NaN        Q
3            895         0       3                                                 Wirz, Mr. Albert    male  27.00      0      0              315154    8.6625              NaN        S
4            896         1       3                     Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.00      1      1             3101298   12.2875              NaN        S
5            897         0       3                                       Svensson, Mr. Johan Cervin    male  14.00      0      0                7538    9.2250              NaN        S
6            898         1       3                                             Connolly, Miss. Kate  female  30.00      0      0              330972    7.6292              NaN        Q
7            899         0       2                                     Caldwell, Mr. Albert Francis    male  26.00      1      1              248738   29.0000              NaN        S
8            900         1       3                        Abrahim, Mrs. Joseph (Sophie Halaut Easu)  female  18.00      0      0                2657    7.2292              NaN        C
9            901         0       3                                          Davies, Mr. John Samuel    male  21.00      2      0           A/4 48871   24.1500              NaN        S
11           903         0       1                                       Jones, Mr. Charles Cresson    male  46.00      0      0                 694   26.0000              NaN        S
12           904         1       1                    Snyder, Mrs. John Pillsbury (Nelle Stevenson)  female  23.00      1      0               21228   82.2667              B45        S
13           905         0       2                                             Howard, Mr. Benjamin    male  63.00      1      0               24065   26.0000              NaN        S
14           906         1       1          Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)  female  47.00      1      0         W.E.P. 5734   61.1750              E31        S
15           907         1       2                    del Carlo, Mrs. Sebastiano (Argenia Genovesi)  female  24.00      1      0       SC/PARIS 2167   27.7208              NaN        C
16           908         0       2                                                Keane, Mr. Daniel    male  35.00      0      0              233734   12.3500              NaN        Q
17           909         0       3                                                Assaf, Mr. Gerios    male  21.00      0      0                2692    7.2250              NaN        C
18           910         1       3                                     Ilmakangas, Miss. Ida Livija  female  27.00      1      0    STON/O2. 3101270    7.9250              NaN        S
19           911         1       3                            Assaf Khalil, Mrs. Mariana (Miriam")"  female  45.00      0      0                2696    7.2250              NaN        C
20           912         0       1                                           Rothschild, Mr. Martin    male  55.00      1      0            PC 17603   59.4000              NaN        C
21           913         0       3                                        Olsen, Master. Artur Karl    male   9.00      0      1             C 17368    3.1708              NaN        S
23           915         0       1                                  Williams, Mr. Richard Norris II    male  21.00      0      1            PC 17597   61.3792              NaN        C
24           916         1       1                  Ryerson, Mrs. Arthur Larned (Emily Maria Borie)  female  48.00      1      3            PC 17608  262.3750  B57 B59 B63 B66        C
25           917         0       3                                          Robins, Mr. Alexander A    male  50.00      1      0           A/5. 3337   14.5000              NaN        S
26           918         1       1                                     Ostby, Miss. Helene Ragnhild  female  22.00      0      1              113509   61.9792              B36        C
27           919         0       3                                                Daher, Mr. Shedid    male  22.50      0      0                2698    7.2250              NaN        C
28           920         0       1                                          Brady, Mr. John Bertram    male  41.00      0      0              113054   30.5000              A21        S
30           922         0       2                                     Louch, Mr. Charles Alexander    male  50.00      1      0          SC/AH 3085   26.0000              NaN        S
31           923         0       2                                    Jefferys, Mr. Clifford Thomas    male  24.00      2      0          C.A. 31029   31.5000              NaN        S
32           924         1       3                         Dean, Mrs. Bertram (Eva Georgetta Light)  female  33.00      1      2           C.A. 2315   20.5750              NaN        S
34           926         0       1                                         Mock, Mr. Philipp Edmund    male  30.00      1      0               13236   57.7500              C78        C
35           927         0       3                 Katavelas, Mr. Vassilios (Catavelas Vassilios")"    male  18.50      0      0                2682    7.2292              NaN        C
37           929         1       3                                               Cacic, Miss. Manda  female  21.00      0      0              315087    8.6625              NaN        S
38           930         0       3                                                  Sap, Mr. Julius    male  25.00      0      0              345768    9.5000              NaN        S
40           932         0       3                                                 Karun, Mr. Franz    male  39.00      0      1              349256   13.4167              NaN        C
42           934         0       3                                            Goldsmith, Mr. Nathan    male  41.00      0      0  SOTON/O.Q. 3101263    7.8500              NaN        S
43           935         1       2                            Corbett, Mrs. Walter H (Irene Colvin)  female  30.00      0      0              237249   13.0000              NaN        S
44           936         1       1                 Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)  female  45.00      1      0               11753   52.5542              D19        S
45           937         0       3                                  Peltomaki, Mr. Nikolai Johannes    male  25.00      0      0   STON/O 2. 3101291    7.9250              NaN        S
46           938         0       1                                         Chevre, Mr. Paul Romaine    male  45.00      0      0            PC 17594   29.7000               A9        C
48           940         1       1                  Bucknell, Mrs. William Robert (Emma Eliza Ward)  female  60.00      0      0               11813   76.2917              D15        C
49           941         1       3                   Coutts, Mrs. William (Winnie Minnie" Treanor)"  female  36.00      0      2          C.A. 37671   15.9000              NaN        S
50           942         0       1                                         Smith, Mr. Lucien Philip    male  24.00      1      0               13695   60.0000              C31        S
51           943         0       2                                               Pulbaum, Mr. Franz    male  27.00      0      0       SC/PARIS 2168   15.0333              NaN        C
52           944         1       2                                    Hocking, Miss. Ellen Nellie""  female  20.00      2      1               29105   23.0000              NaN        S
53           945         1       1                                       Fortune, Miss. Ethel Flora  female  28.00      3      2               19950  263.0000      C23 C25 C27        S
55           947         0       3                                             Rice, Master. Albert    male  10.00      4      1              382652   29.1250              NaN        Q
56           948         0       3                                                  Cor, Mr. Bartol    male  35.00      0      0              349230    7.8958              NaN        S
57           949         0       3                                    Abelseth, Mr. Olaus Jorgensen    male  25.00      0      0              348122    7.6500            F G63        S
59           951         1       1                                      Chaudanson, Miss. Victorine  female  36.00      0      0            PC 17608  262.3750              B61        C
60           952         0       3                                                  Dika, Mr. Mirko    male  17.00      0      0              349232    7.8958              NaN        S
61           953         0       2                                        McCrae, Mr. Arthur Gordon    male  32.00      0      0              237216   13.5000              NaN        S
62           954         0       3                                     Bjorklund, Mr. Ernst Herbert    male  18.00      0      0              347090    7.7500              NaN        S
63           955         1       3                                     Bradley, Miss. Bridget Delia  female  22.00      0      0              334914    7.7250              NaN        Q
64           956         0       1                                      Ryerson, Master. John Borie    male  13.00      2      2            PC 17608  262.3750  B57 B59 B63 B66        C
66           958         1       3                                          Burns, Miss. Mary Delia  female  18.00      0      0              330963    7.8792              NaN        Q
67           959         0       1                                   Moore, Mr. Clarence Bloomfield    male  47.00      0      0              113796   42.4000              NaN        S
68           960         0       1                                  Tucker, Mr. Gilbert Milligan Jr    male  31.00      0      0                2543   28.5375              C53        C
69           961         1       1                              Fortune, Mrs. Mark (Mary McDougald)  female  60.00      1      4               19950  263.0000      C23 C25 C27        S
70           962         1       3                                        Mulvihill, Miss. Bertha E  female  24.00      0      0              382653    7.7500              NaN        Q
71           963         0       3                                               Minkoff, Mr. Lazar    male  21.00      0      0              349211    7.8958              NaN        S
72           964         1       3                                   Nieminen, Miss. Manta Josefina  female  29.00      0      0             3101297    7.9250              NaN        S
73           965         0       1                                  Ovies y Rodriguez, Mr. Servando    male  28.50      0      0            PC 17562   27.7208              D43        C
74           966         1       1                                             Geiger, Miss. Amalie  female  35.00      0      0              113503  211.5000             C130        C
75           967         0       1                                               Keeping, Mr. Edwin    male  32.50      0      0              113503  211.5000             C132        C
77           969         1       1             Cornell, Mrs. Robert Clifford (Malvina Helen Lamson)  female  55.00      2      0               11770   25.7000             C101        S
78           970         0       2                                   Aldworth, Mr. Charles Augustus    male  30.00      0      0              248744   13.0000              NaN        S
79           971         1       3                                           Doyle, Miss. Elizabeth  female  24.00      0      0              368702    7.7500              NaN        Q
80           972         0       3                                             Boulos, Master. Akar    male   6.00      1      1                2678   15.2458              NaN        C
81           973         0       1                                               Straus, Mr. Isidor    male  67.00      1      0            PC 17483  221.7792          C55 C57        S
82           974         0       1                                           Case, Mr. Howard Brown    male  49.00      0      0               19924   26.0000              NaN        S
86           978         1       3                                               Barry, Miss. Julia  female  27.00      0      0              330844    7.8792              NaN        Q
87           979         1       3                                       Badman, Miss. Emily Louisa  female  18.00      0      0           A/4 31416    8.0500              NaN        S
89           981         0       2                                      Wells, Master. Ralph Lester    male   2.00      1      1               29103   23.0000              NaN        S
90           982         1       3      Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judith Andersson)  female  22.00      1      0              347072   13.9000              NaN        S
92           984         1       1                             Davidson, Mrs. Thornton (Orian Hays)  female  27.00      1      2          F.C. 12750   52.0000              B71        S
94           986         0       1                                              Birnbaum, Mr. Jakob    male  25.00      0      0               13905   26.0000              NaN        C
95           987         0       3                                       Tenglin, Mr. Gunnar Isidor    male  25.00      0      0              350033    7.7958              NaN        S
96           988         1       1           Cavendish, Mrs. Tyrell William (Julia Florence Siegel)  female  76.00      1      0               19877   78.8500              C46        S
97           989         0       3                                        Makinen, Mr. Kalle Edvard    male  29.00      0      0   STON/O 2. 3101268    7.9250              NaN        S
98           990         1       3                                     Braf, Miss. Elin Ester Maria  female  20.00      0      0              347471    7.8542              NaN        S
99           991         0       3                                     Nancarrow, Mr. William Henry    male  33.00      0      0          A./5. 3338    8.0500              NaN        S
100          992         1       1              Stengel, Mrs. Charles Emil Henry (Annie May Morris)  female  43.00      1      0               11778   55.4417             C116        C
101          993         0       2                                               Weisz, Mr. Leopold    male  27.00      1      0              228414   26.0000              NaN        S
103          995         0       3                           Johansson Palmquist, Mr. Oskar Leander    male  26.00      0      0              347070    7.7750              NaN        S
104          996         1       3                        Thomas, Mrs. Alexander (Thamine Thelma")"  female  16.00      1      1                2625    8.5167              NaN        C
105          997         0       3                                        Holthen, Mr. Johan Martin    male  28.00      0      0              C 4001   22.5250              NaN        S
106          998         0       3                                              Buckley, Mr. Daniel    male  21.00      0      0              330920    7.8208              NaN        Q
109         1001         0       2                                                Swane, Mr. George    male  18.50      0      0              248734   13.0000                F        S
110         1002         0       2                                         Stanton, Mr. Samuel Ward    male  41.00      0      0              237734   15.0458              NaN        C
112         1004         1       1                                         Evans, Miss. Edith Corse  female  36.00      0      0            PC 17531   31.6792              A29        C
113         1005         1       3                                         Buckley, Miss. Katherine  female  18.50      0      0              329944    7.2833              NaN        Q
114         1006         1       1                           Straus, Mrs. Isidor (Rosalie Ida Blun)  female  63.00      1      0            PC 17483  221.7792          C55 C57        S
115         1007         0       3                                      Chronopoulos, Mr. Demetrios    male  18.00      1      0                2680   14.4542              NaN        C
117         1009         1       3                                  Sandstrom, Miss. Beatrice Irene  female   1.00      1      1             PP 9549   16.7000               G6        S
118         1010         0       1                                             Beattie, Mr. Thomson    male  36.00      0      0               13050   75.2417               C6        C
119         1011         1       2                  Chapman, Mrs. John Henry (Sara Elizabeth Lawry)  female  29.00      1      0         SC/AH 29037   26.0000              NaN        S
120         1012         1       2                                             Watt, Miss. Bertha J  female  12.00      0      0          C.A. 33595   15.7500              NaN        S
122         1014         1       1                                  Schabert, Mrs. Paul (Emma Mock)  female  35.00      1      0               13236   57.7500              C28        C
123         1015         0       3                                          Carver, Mr. Alfred John    male  28.00      0      0              392095    7.2500              NaN        S
125         1017         1       3                                         Cribb, Miss. Laura Alice  female  17.00      0      1              371362   16.1000              NaN        S
126         1018         0       3                                         Brobeck, Mr. Karl Rudolf    male  22.00      0      0              350045    7.7958              NaN        S
128         1020         0       2                                             Bowenur, Mr. Solomon    male  42.00      0      0              211535   13.0000              NaN        S
129         1021         0       3                                             Petersen, Mr. Marius    male  24.00      0      0              342441    8.0500              NaN        S
130         1022         0       3                                          Spinner, Mr. Henry John    male  32.00      0      0     STON/OQ. 369943    8.0500              NaN        S
131         1023         0       1                                        Gracie, Col. Archibald IV    male  53.00      0      0              113780   28.5000              C51        C
134         1026         0       3                                           Dintcheff, Mr. Valtcho    male  43.00      0      0              349226    7.8958              NaN        S

7. Remove duplicate rows from the dataset.

In [18]:
print(df.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
413    False
414    False
415    False
416    False
417    False
Length: 418, dtype: bool

8. Compute and display the correlation matrix of the dataset.

In [19]:
print(df.corr())

ValueError: could not convert string to float: 'Kelly, Mr. James'

corr() ignores columns that are not numeric

# Part 2: Working with Case Studies

When working on these case studies, **always ensure that your code is properly documented and clearly presented**. Follow these key principles:  

### **1. Always Show Your Code**  
- Every step of data exploration, cleaning, and analysis should include **visible code outputs**.  
- Do not skip showing your process, as transparency is essential for reproducibility.  

### **2. Proper Documentation is Necessary**  
- Use **comments (`#`) in Python** to explain your code clearly.  
- Add **Markdown cells** to describe each step before executing the code.  
- Explain key findings in simple language to make the analysis easy to understand.  

### **3. Use Readable and Organized Code**  
- Follow a **step-by-step approach** to keep the notebook structured.  
- Use **proper variable names** and avoid hardcoding values where possible.

# **Case Study 1: Iris Flower Classification** üå∏  

### **Background**  
A botanical research institute wants to develop an automated system that classifies different species of **iris flowers** based on their **sepal and petal measurements**.  The dataset consists of **150 samples**, labeled as **Setosa, Versicolor, or Virginica**.  

### **Problem Statement**  
Can we use **sepal and petal dimensions** to correctly classify the **species of an iris flower**?  

### **Task Description**  

#### **1. Data Exploration**  
- Load the dataset and display the first few rows.  
- Identify any missing or inconsistent values.  

#### **2. Data Cleaning**  
- Check for missing values and handle them appropriately.  
- Convert categorical species labels into a format suitable for analysis.  

#### **3. Basic Data Analysis**  
- Find the average sepal and petal dimensions for each species.  
- Identify correlations between different flower measurements.  

#### **4. Visualization**  
- Create simple visualizations (e.g., histograms, scatter plots) to understand data distribution.  

#### **5. Insights & Interpretation**  
- Summarize key findings, such as which features best distinguish flower species.

In [ ]:
#Part 1

# Read only first few rows
flower = pd.read_csv('iris_dataset.csv')
print(flower) 


#Check for any missing or inconsistent values
print(flower.isna())

#Part 2
flower.fillna(0, inplace = True)

#Part 3

# **Case Study 2: Netflix Content Analysis** üé¨  

## **Background**  
Netflix is a leading streaming platform with a vast collection of movies and TV shows. The company wants to analyze its **content library** to understand trends in **genres, release years, and regional distribution**.  

## **Problem Statement**  
How can we use **Netflix‚Äôs dataset** to gain insights into content distribution, popular genres, and release trends over time?  

## **Task Description**  

### **1. Data Exploration**  
- Load the dataset and inspect its structure.  
- Identify key columns such as title, genre, release year, and country.  

### **2. Data Cleaning**  
- Check for missing or incorrect values in key columns.  
- Remove duplicates and format the date-related data properly.  

### **3. Basic Data Analysis**  
- Count the number of movies vs. TV shows.  
- Identify the most common genres and countries producing content.  
- Analyze the number of releases per year to observe trends.  

### **4. Insights & Interpretation**  
- Summarize key findings, such as trends in Netflix's content production over time.

In [ ]:
flix = pd.read_csv('netflix_dataset.csv')
df = pd.DataFrame(flix)

# print(flix.head(5))
# print(flix.info())
# print(flix[['title', 'listed_in', 'release_year', 'country']])
# print(df.describe())

missing_data = df.dropna()
duplicated_data = df.duplicated()

# print(missing_data.to_string())
print(duplicated_data.to_string())